<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Skade og Udbedring</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../static/css/overSkrift.css"/>
  <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
  <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>
  <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../../static/css/beaverPosition.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>
<div th:id="beaverSeSkader" th:style="'background-image:url(' + @{/images/beaverMechanic.png}">

<div th:class="bilInfo">
<table class="center">
  <tr>
    <th>Bil Mærke</th>
    <th>Model</th>
    <th>Vognnummer</th>
    <th>Registreringsnummer</th>
  </tr>
  <tr th:each="b : ${bil}">
    <td> <span th:text="${b.maerke}">Bil Mærke</span> </td>
    <td> <span th:text="${b.model}">Model</span> </td>
    <td> <span th:text="${b.vognNummer}">Vognnummer</span> </td>
    <td> <span th:text="${b.stelNummer}">Registreringsnummer</span> </td>
  </tr>
</table>
  <div th:class="flexSkade">

    <div>
      <div id="kundeinfo">
        <form action="/indtastkm" method="post">
          <h3>Kilometer registrering</h3>
          <h4>Indtast venligst ny kilometer antal</h4>
          <h4>Overkørte km afregnes 0,75 kr./km</h4>
          <fieldset>
            <input name="km" placeholder="km" type="number" tabindex="1" required>
            <input name="rapportID" type="hidden" th:value="${rapportID}">
          </fieldset>
          <fieldset>
            <div class="bilBookingFormFlex">
              <button class="inline" name="submit" type="submit" id="send-kundeinfo" data-submit="...Sending">indtast km</button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
    <div id="skaderTabel">
      <h3>Skader</h3>
      <h4>Registrer skader eller fjern skader som er betalt.</h4>
      <div th:id="scroll">
        <table th:id="kundeTable">
          <tr>
            <th>Skadens placering</th>
            <th>Skadens beskrivelse</th>
            <th>Skadens pris</th>
            <th>Slet skade</th>
          </tr>
          <tr th:each="s : ${skader}">
            <td> <span th:text="${s.skadensPlacering}">skadensPlacering</span> </td>
            <td> <span th:text="${s.skadensBeskrivelse}">skadensBeskrivelse</span> </td>
            <td> <span th:text="${s.skadensPris}">skadensPris</span> kr. </td>
            <td th:id="rodKnap">
              <button placeholder="Registrer ny rapport?" type="submit">  <a th:class="htmlLink" th:href="@{'/sletSkade/' + ${s.id}}">Slet skade</a>
              </button>
         </td>
          </tr>
        </table>
      </div>
      <div th:id="center">
        <button placeholder="Registrer ny skade" type="submit">  <a th:class="htmlLink" th:href="@{'/tilfoejSkade/'+${rapportID}}">Registrer ny skade</a>
        </button>
      </div>
    </div>
  </div>
  </div>
</div>

</div>
</div>




</body>
</html>