<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Skade og Udbedring</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
</head>
<body>
<ul th:replace="/html/fragments/aFragment:: navbar-standard" class="active"></ul>

<table class="center" table style="background-color: cornflowerblue; margin-top:50px">
  <tr>
    <th>Bil Mærke</th>
    <th>Model</th>
    <th>Vognnummer</th>
    <th>Registreringsnummer</th>
  </tr>
  <tr th:each="b : ${biler}">
    <td> <span th:text="${b.name}">Name</span> </td>
    <td> <span th:text="${b.userId}">id</span> </td>
    <td> <span th:text="${b.vognNummer}">id</span> </td>
    <td> <span th:text="${b.registeringsNummer}">id</span> </td>
  </tr>
</table>

<table class="center" table style="background-color: cornflowerblue; margin-top:50px">
  <tr>
    <th>Skadens placering</th>
    <th>Skadens beskrivelse</th>
    <th>Skadens pris</th>
    <th>Slet skade</th>
  </tr>
  <tr th:each="b : ${bil}">
    <td> <span th:text="${b.skadensPlacering}">skadensPlacering</span> </td>
    <td> <span th:text="${b.skadensBeskrivelse}">skadensBeskrivelse</span> </td>
    <td> <span th:text="${b.skadensPris}">skadensPris</span> </td>
    <td> <span> <a th:href="@{'/sletSkade/' + ${b.vognNummer}}">Slet skade</a> </span> </td>
  </tr>
</table>


</body>
</html>