<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og Udbedring</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../../static/css/overSkrift.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>
    <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../../static/css/beaverPosition.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>

<div th:id="beaverSkadeOgUdbedring" th:style="'background-image:url(' + @{/images/beaverMechanic.png}">

        <div th:class="flexSkade">

            <div>
                <div th:id="searchField">
                    <h4>Søgefelt</h4>
                    <div>
                        <input type="text" name="text" th:class="searchField" placeholder="indtast vognnummer">
                    </div>
                </div>

            </div>
            <div th:id="cardTilTable">
                <h3>Skade og Udbedring</h3>
                <h4>Vælg den bil du vil se rapporter for. Derefter kan du tilføje skader til rapporten </br>
                    Denne liste viser biler, som er bookede lige nu</h4>
                <div th:id="scroll">
                    <table th:id="kundeTable">
                        <tr>
                            <th>Bil Mærke</th>
                            <th>Model</th>
                            <th>Vognnummer</th>
                            <th>Registreringsnummer</th>
                            <th>slut dato</th>
                            <th>Registrer skader</th>
                        </tr>
                        <tr th:each="b : ${biler}">
                            <td> <span th:text="${b.getMaerke()}">Maerke</span> </td>
                            <td> <span th:text="${b.getModel()}">Model</span> </td>
                            <td> <span th:text="${b.getVognNummer()}">Vognnummer</span> </td>
                            <td> <span th:text="${b.getStelNummer()}">Registreringsnummer</span> </td>
                            <td> <span th:text="${b.slutDato}">slutDato</span> </td>
                            <td th:id="blaaKnapTilTable">
                                <form th:action="@{/opretRapport/__${b.getId()}__}" method="get" >
                                    <!--https://stackoverflow.com/questions/45716052/thymeleaf-pass-input-text-as-parameter-in-form-action-->
                                    <button type="submit">Registrer skader</button>

                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>