<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade og Udbedring</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../static/css/overSkrift.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>

<div th:class="beaverIBaggrund" th:style="'background-image:url(' + @{/images/beaver.png}">
        <div th:class="flexSkade">

            <div>
                <div id="kundeinfo">
                    <div th:class="stickySearch1">
                        <input type="text" name="text" th:class="searchField" placeholder="indtast vognnummer">
                    </div>
                    <div th:class="stickySearch2">
                        <input type="text" name="text" th:class="searchField" placeholder="Bil mærke">
                    </div>
                </div>

            </div>
            <div id="findKunde">
                <h3>Skade og Udbedring</h3>
                <h4>Vælg den bil du vil se rapporter for. Derefter kan du tilføje skader til rapporten</h4>
                <div th:id="scroll">
                    <table th:id="kundeTable">
                        <tr>
                            <th>Bil Mærke</th>
                            <th>Model</th>
                            <th>Vognnummer</th>
                            <th>Registreringsnummer</th>
                            <th>Se skader</th>
                        </tr>
                        <tr th:each="b : ${biler}">
                            <td> <span th:text="${b.maerke}">Maerke</span> </td>
                            <td> <span th:text="${b.model}">Model</span> </td>
                            <td> <span th:text="${b.vognNummer}">Vognnummer</span> </td>
                            <td> <span th:text="${b.stelNummer}">Registreringsnummer</span> </td>
                            <td> <span> <a th:href="@{'/vaelgRapport/' + ${b.vognNummer}}">Vælg bil</a> </span> </td>
                        </tr>
                    </table>
                </div>
                <div id="blaaKnap">
                    <button placeholder="Registrer ny rapport?" type="submit">  <a th:class="htmlLink" th:href="@{'/seSkader/'}">Registrer ny rapport?</a>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>