<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css"/>
</head>
<body>
<div th:fragment="logo">
    <img class="logocorner" src="/static/images/hondalogo1.png" th:src="@{/images/hondalogo1.png}" width="140" height="70">
</div>
    <ul th:fragment="navbar-standard" class="menubarcorner">
        <li><a th:href="@{'/'}">Home</a></li>
        <li><a th:href="@{'/dataRegistering'}">Data indregistrering</a></li>
        <li><a th:href="@{'/skadeOgUdbedring'}">Skades rapport</a></li>
        <li><a th:href="@{'/forretningsUdviklere'}">Forretnings udviklere</a></li>
    </ul>
</body>
</html>