.home-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}

.home-picture-placement {
    background-color: white;
    padding: 50px;
    margin: 380px;
    margin-top: 50px;
}

#blaaKnap button[type="submit"] {
    cursor:pointer;
    width:15%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:15px;
    padding:10px;
    font-size:15px;
    margin-left: 865px;
}

#blaaKnap button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#blaaKnap button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.htmlLink{
    text-decoration-line: none;
    text-decoration-color: white;
    color: white;
}