@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.home-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}

.home-picture-placement {
    background-color: white;
    padding: 50px;
    margin: 380px;
    margin-top: 50px;
}

#blaaKnap input[type=button],[type="submit"] {
    cursor:pointer;
    width:auto;
    border:none;
    background: #06add9;
    color:#FFF;
    margin:15px;
    padding:10px;
    font-size:15px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;

}

#blaaKnap input[type=button],[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#blaaKnap input[type=button],[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.htmlLink{
    text-decoration-line: none;
    text-decoration-color: white;
    color: white;
}

.searchFieldPosition{
    margin-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}


.beaverIBaggrund{
    background-image: url(@{/images/beaver.png});
    background-repeat: no-repeat, repeat;
    background-size: 50%;
    background-attachment: inherit;
    background-position-x: 275px;
}

.beaverIBaggrundForretning{
    background-image: url(@{/images/beaver.png});
    background-repeat: no-repeat, repeat;
    background-size: 50%;
    background-attachment: inherit;
    background-position-x: 149px;
    background-position-y: 167px;
}

.flex{
    display: flex;

}
.flexSkade{
    display: flex;
    margin-top: 0;
    justify-content: space-around;
}
.flexBooking{
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    scale: 90%;
}

.stickySearch1{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.stickySearch2{
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
}

#flexForretningsUdviklere{
    display: flex;
    margin-top: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bilabonnementLogo{
    position: absolute;
    left: -280px;
    top: -30px;
    scale: 21%;
}

#center {
    display: flex;
    justify-content: center;
}
#centerSearchField {
    display: flex;
    justify-content: center;
    align-items: center;
}

#totalPrisIRapport {
    display: flex;
    margin-left: 817px;
    margin-top: 20px;
}