#Vertical div {
    margin-left: -85px;
    position: absolute;
    width: 215px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    /* Safari/Chrome */
    -moz-transform: rotate(-90deg);
    /* Firefox */
    -o-transform: rotate(-90deg);
    /* Opera */
    -ms-transform: rotate(-90deg);
    /* IE 9 */
}

#vertical th{
    height: 30px;
    line-height: 14px;
    padding-bottom: 10px;
    text-align: left;
    font-size: larger;
    background: gainsboro;
}
#vertical td{
    font-size: larger;
}

#vertical table, th, td {
    border: 1px solid;
}
#vertical table {
    width: 70%;
}

#vertical{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
body {
    font: 12pt "Tahoma";
}
* {
    box-sizing: content-box;
    -moz-box-sizing: border-box;
}
#page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    size: A4;
    margin: 0;
}

#page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
}
#subpage {
    padding: 1cm;
    border: 4px Black solid;
    height: 237mm;
    box-shadow: 18px 18px 8px 6px #0000002b;


}
