.bilInfo{
margin-bottom: 10px;
}

.bilInfo table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border-radius: 5px;

}
.bilInfoAutoWidth table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    border-radius: 5px;

}
.bilInfo table.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
}
.bilInfo td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}
.bilInfo th{
    background-color: #259bca;

}.bilInfo td{
    background-color: #f6f3f2;

}

.bilInfo tr:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}
.bilInfo td:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}


div.table-title {
    display: block;
    margin: auto;
    max-width: 800px;
    padding: 5px;
    width: 100%;
}
.table-title h3 {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.bilInfo th{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    color: aliceblue;
}
/* ----- Info for table i Skade og Udbedring */
#SkadeTable {
    width: 50%;
    margin-left: 77px;
}

#SkadeTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border-radius: 5px;
}
#SkadeTable table.center {
    margin-left:auto;
    margin-right:auto;
}
#SkadeTable td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}
#SkadeTable th {
    background-color: #259bca;
}

#SkadeTable td{
     background-color: #f6f3f2;

 }

#SkadeTable tr:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}
#SkadeTable td:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}

#SkadeTable th{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

}

/* Table for kunder */
#kundeTable {
    width: 100%;
    margin-left: 0;
    scale: 80%;
    display: contents;
}

#kundeTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border-radius: 5px;
}
#kundeTable table.center {
    margin-left:auto;
    margin-right:auto;
}
#kundeTable td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10%;
}
#kundeTable th {
    background-color: #259bca;
    color: aliceblue;
}

#kundeTable td{
    background-color: #f6f3f2;

}

#kundeTable tr:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}
#kundeTable td:nth-child(even) {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 10%;
}
#scroll {
    height:400px;
    overflow:auto;
}
#scrollSkader{
    height: 389px;
    width: 470px;
    overflow: auto;
}
