<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rapporter</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../../static/css/tableStyle.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../../static/css/overSkrift.css"/>
  <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>
  <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>
  <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../../static/css/beaverPosition.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>


<table th:class="bilInfo">
  <tr>
    <th>Bil Mærke</th>
    <th>Model</th>
    <th>Vognnummer</th>
    <th>Stelnummer</th>
    <th>Skades rapport</th>
    <th>Rapport</th>
  </tr>
  <tr th:each="b : ${biler}">
    <td> <span th:text="${b.maerke}">Mærke</span> </td>
    <td> <span th:text="${b.model}">model</span> </td>
    <td> <span th:text="${b.vognNummer}">vognnummer</span> </td>
    <td> <span th:text="${b.stelNummer}">stelnummer</span> </td>
    <td th:id="blaaKnapTilTable">
      <button type="submit"> <a th:class="htmlLink" th:href="@{'/vaelgRapportRapporter/' + ${b.vognNummer}}">Se booking og vælg rapport</a> </button>
    </td>
    <td th:id="blaaKnapTilTable">
      <button type="submit"> <a th:class="htmlLink" th:href="@{'/seRapport/' + ${b.vognNummer}}">Se bilinformation</a> </button>
    </td>
  </tr>
</table>
</body>
</html>