<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Skade og Udbedring</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../../static/css/tableStyle.css"/>
  <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>


<table th:class="bilInfo">
  <tr>
    <th>Bil Mærke</th>
    <th>Model</th>
    <th>Vognnummer</th>
    <th>Stelnummer</th>
    <th>Skades rapport</th>
    <th>Rapport</th>
  </tr>
  <tr th:each="b : ${biler}">
    <td> <span th:text="${b.maerke}">Mærke</span> </td>
    <td> <span th:text="${b.model}">model</span> </td>
    <td> <span th:text="${b.vognNummer}">vognnummer</span> </td>
    <td> <span th:text="${b.stelNummer}">stelnummer</span> </td>
    <td> <span> <a th:href="@{'/vaelgRapportRapporter/' + ${b.vognNummer}}">skadesrapport</a> </span> </td>
    <td> <span> <a th:href="@{'/seRapport/' + ${b.vognNummer}}">se Rapport</a> </span> </td>
  </tr>
</table>
</body>
</html>