<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Skade og Udbedring</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: logo"> </div>
<ul th:replace="/html/fragments/aFragment:: navbar-standard"></ul>

<h1 th:each="b : ${samledeIndtaegt}">Samlede indtægter for denne måned
  <span th:text="${samledeIndtaegt}">samlede intaegt</span>kr.
</h1>

<table th:class="bilInfo">
  <tr>
    <th>id</th>
    <th>brugerID</th>
    <th>type</th>
    <th>udleveringsSted</th>
    <th>maanedspris</th>
  </tr>
  <tr th:each="b : ${bookedeBiler}">
    <td> <span th:text="${b.id}">id</span> </td>
    <td> <span th:text="${b.brugerID}">brugerID</span> </td>
    <td> <span th:text="${b.abonnementsType}">type</span> </td>
    <td> <span th:text="${b.udleveringsSted}">udleveringsSted</span> </td>
    <td> <span th:text="${b.maanedspris}">maanedspris</span> </td>
  </tr>
</table>

</body>
</html>