<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Skade og Udbedring</title>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
  <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
  <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../static/css/overSkrift.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>

<div th:id="flexForretningsUdviklere">
<div th:id="samletIndtaegt">
  <span>Samlede indtægt.</span>
  <span id="overskriftPris" th:text="${samledeIndtaegt}">samlede intaegt</span>
  <span> kr.</span>
</div>
<div>
<table th:class="bilInfo">
  <tr>
    <th>Booking ID</th>
    <th>Bruger ID</th>
    <th>Bil Mærke</th>
    <th>Bil Model</th>
    <th>Abonnements type</th>
    <th>Start udelejning</th>
    <th>Slut udelejning</th>
    <th>maanedspris</th>
  </tr>
  <tr th:each="b : ${bookedeBiler}">
    <td> <span th:text="${b.id}">Booking ID</span> </td>
    <td> <span th:text="${b.brugerID}">Bruger ID</span> </td>
    <td> <span th:text="${bil}">Bil Mærke</span> </td>
    <td> <span th:text="${bil}">Bil Model</span> </td>
    <td> <span th:text="${b.abonnementsType}">type</span> </td>
    <td> <span th:text="${b.startDato}">type</span> </td>
    <td> <span th:text="${b.slutDato}">udleveringsSted</span> </td>
    <td> <span th:text="${b.maanedspris}">månedspris</span>0 kr.</td>
  </tr>
</table>
</div>
</div>
</body>
</html>