<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Skade og Udbedring</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../static/css/overSkrift.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../static/css/formDesign.css"/>
    <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../static/css/beaverPosition.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"></div>

<div th:id="beaverIBaggrundForretning" th:style="'background-image:url(' + @{/images/beaverInASuit.png}">
    <div th:class="flexSkade">
        <div>
            <div th:id="searchField">
                <table th:class="bilInfo">
                    <tr>
                        <th>Samlede indtægt for alle booking perioder</th>
                    </tr>
                    <tr>
                        <td><span th:text="${samledeIndtaegt}">samlede indtægt</span> kr.</td>
                    </tr>
                </table>
                <table th:class="bilInfo">
                    <tr>
                        <th>Samlede indtægt denne måned</th>
                    </tr>
                    <tr>
                        <td><span th:text="${samledeIndtaegtMaaned}">samlede indtægt</span> kr.</td>
                    </tr>
                </table>
            </div>

        </div>
        <div id="cardTilTable">
            <h3>Forretnings udviklere</h3>
            <h4>Her er alle bookninger</h4>
            <div th:id="scroll">
                <table th:id="kundeTable">
                    <tr>
                        <th>Booking ID</th>
                        <th>Bruger ID</th>
                        <th>Bil Mærke</th>
                        <th>Bil Model</th>
                        <th>Abonnements type</th>
                        <th>Start udelejning</th>
                        <th>Slut udelejning</th>
                        <th>månedspris</th>
                    </tr>
                    <tr th:each="b : ${bookedeBiler}">
                        <td><span th:text="${b.getId()}">Booking ID</span></td>
                        <td><span th:text="${b.getBrugerID()}">Bruger ID</span></td>
                        <td><span th:text="${b.getMaerke()}">Bil Mærke</span></td>
                        <td><span th:text="${b.getModel()}">Bil Model</span></td>
                        <td><span th:text="${b.getAbonnementsType()}">type</span></td>
                        <td><span th:text="${b.startDato}">startdato</span></td>
                        <td><span th:text="${b.slutDato}">slutDato</span></td>
                        <td><span th:text="${b.maanedspris}">månedspris</span>0 kr.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="flexLager">
    <div th:id="cardTilLager">
        <h3>Udlejet biler</h3>
        <h4>Her kan ses alle udlejet biler</h4>
        <div th:id="scroll">
            <table th:id="kundeTable">
                <tr>
                    <th>Vognnummer</th>
                    <th>Stelnummer</th>
                    <th>Bil Mærke</th>
                    <th>Bil Model</th>
                    <th>månedspris</th>
                </tr>
                <tr th:each="b : ${udlejetBiler}">
                    <td><span th:text="${b.getVognNummer()}">Vognnummer</span></td>
                    <td><span th:text="${b.getStelNummer()}">Stelnummer</span></td>
                    <td><span th:text="${b.getMaerke()}">Bil Mærke</span></td>
                    <td><span th:text="${b.getModel()}">Bil Model</span></td>
                    <td><span th:text="${b.getMaanedsPris()}">månedspris</span>0 kr.</td>
                </tr>
            </table>
        </div>
    </div>
    <div th:id="cardTilLager">
        <h3>Tilgængelige biler</h3>
        <h4>Her vises biler, parat til udlejning</h4>
        <div th:id="scroll">
            <table th:id="kundeTable">
                <tr>
                    <th>Vognnummer</th>
                    <th>Stelnummer</th>
                    <th>Bil Mærke</th>
                    <th>Bil Model</th>
                    <th>månedspris</th>
                </tr>
                <tr th:each="b : ${ikkeUdlejetBiler}">
                    <td><span th:text="${b.getVognNummer()}">Vognnummer</span></td>
                    <td><span th:text="${b.getStelNummer()}">Stelnummer</span></td>
                    <td><span th:text="${b.getMaerke()}">Bil Mærke</span></td>
                    <td><span th:text="${b.getModel()}">Bil Model</span></td>
                    <td><span th:text="${b.getMaanedsPris()}">månedspris</span>0 kr.</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>