<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>opretBil</title>

    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../../static/css/overSkrift.css"/>

    <link rel="stylesheet" th:href="@{/css/opretBil.css}" href="../../../static/css/opretBil.css"/>


</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"></div>

<div class="bilInformationerContainer">

    <div class="bilInformationer">
        <form action="/bilRegistrering">

            <div class="bilInformation">
                <label for="vognnummer">Vogn Nummer</label>
                <input id="vognnummer" type="text">

            </div>
            <div class="bilInformation">
                <label for="stelNummer">Stelnummer</label>
                <input id="stelNummer" type="text">

            </div>
            <div class="bilInformation">
                <label for="bilmaerke">Mærke</label>
                <input class="inputbox" id="bilmaerke" type="text">
            </div>
            <div class="bilInformation">
                <label for="model">Model </label>
                <input id="model" type="text">

            </div>
            <div class="bilInformation">
                <label for="gear">Gear</label>
                <input id="gear" type="text">

            </div>
            <div class="bilInformation">
                <label for="energitype">Energitype</label>
                <input id="energitype" type="text">

            </div>
            <div class="bilInformation">
                <label for="udstyrniveau">Udstyrniveau</label>
                <input id="udstyrniveau" type="text">

            </div>
            <div class="bilInformation">
                <label for="farve">Farve</label>
                <input id="farve" type="text">

            </div>
             <div class="bilInformation">
                <label for="staalpris">Stålpris</label>
                <input id="staalpris" type="text">

            </div>
             <div class="bilInformation">
                <label for="registreringsafgift">Registreringsafgift</label>
                <input id="registreringsafgift" type="text">

            </div>
             <div class="bilInformation">
                <label for="CO2udledning">CO2udledning</label>
                <input id="CO2udledning" type="text">

            </div>
            <div class="bilInformation">
                <label for="produktionsaar">Produktionsår</label>
                <input id="produktionsaar" type="text">

            </div>
            <div class="bilInformation">
                <label for="kilometertal">Kilometertal</label>
                <input id="kilometertal" type="text">

            </div>
            <div class="bilInformation">
                <label for="maanedspris">Månedspris</label>
                <input id="maanedspris" type="text">

            </div>

            <div>
                <input type="submit" value="Opret bil">
            </div>
        </form>
    </div>
</div>

</body>
</html>