<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>opretBil</title>

    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../static/css/tilfojSkade.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../../static/css/beaverPosition.css"/>


</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"></div>

<div class="container">
    <form id="bilSpecifikation" action="/indsendBilTilRegistrering" method="post">
        <h3>Registrer ny bil</h3>
        <h4>Indtast bilens informationer</h4>
        <fieldset>
            <input name="stelnummer" placeholder="stelNummer" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="vognnummer" placeholder="vognnummer" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="maerke" placeholder="bilmærke" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="model" placeholder="model" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <select name="farve" id="farveValg">
                <option value="0">Vælg farve.</option>
                <option th:each="f : ${farver}" th:value="${f}" th:text="${f}"></option>
            </select>
        </fieldset>
        <fieldset>
            <select name="gearboks" id="gearboks">
                <option value="0">Vælg gearboks</option>
                <option th:each="g : ${gearbokse}" th:value="${g}" th:text="${g}"></option>
            </select>
        </fieldset>
        <fieldset>
            <select name="udstyrsniveau" id="udstyrsniveau">
                <option value="0">Vælg udstyrsniveau.</option>
                <option th:each="u : ${udstyrsniveau}" th:value="${u}" th:text="${u}"></option>
            </select>
        </fieldset>
        <fieldset>
            <select name="energitype" id="energiTyper">
                <option value="0">Vælg energiTyper.</option>
                <option th:each="e : ${energiTyper}" th:value="${e}" th:text="${e}"></option>
            </select>
        </fieldset>
        <fieldset>
            <input name="produktionsaar" placeholder="produktions År" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="staalpris" placeholder="stål pris" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="CO2udledning" placeholder="CO2 udledning afgift" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="registreringsafgift" placeholder="registreringsafgift" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="kilometertal" placeholder="kilometertal" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="maanedspris" placeholder="månedspris" type="text" tabindex="1" required autofocus>
        </fieldset>


        <fieldset>
            <div class="flex">
                <button placeholder="annuller" type="submit" th:href="@{'/skadeOgUdbedring/'}">Annuller
                </button>
                <input type="hidden" id="wishId" name="rapportID" th:attr="value=${rapportID}">
                <button class="inline" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Indsend</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>