<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Registrering</title>

    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>
    <link rel="stylesheet" th:href="@{/css/overSkrift.css}" href="../../static/css/overSkrift.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>

<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Booking</h3>
                <p>Dette er booking terminalen. Herinde kan du vælge vælge hvilken bil der skal bookes.
                    Det er også her man registrere nye kunder.</p>
                <a th:href="@{'/bookingRegistrering/'}">Registrer booking</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Bil Reg.</h3>
                <p>Dette er bil terminalen. Herinde kan du vælge vælge hvilken bil der skal bookes.
                    Det er også her man registrere nye kunder.</p>
                <a th:href="@{'/bilRegistrering/'}">Registrer Bil</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>