<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kundeBooking</title>
    <link rel="stylesheet" th:href="@{/css/tilfojSkade.css}" href="../../../static/css/tilfojSkade.css"/>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../static/css/tableStyle.css"/>
    <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../static/css/navigationsbar.css"/>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="html/fragments/aFragment:: logo"> </div>
<ul th:replace="html/fragments/aFragment:: navbar-standard" class="active"></ul>

<div th:class="bilInfo">
<table th:class="bilInfo">
    <tr>
        <th>Bil Mærke</th>
        <th>Model</th>
        <th>Vognnummer</th>
        <th>Registreringsnummer</th>
    </tr>
    <tr th:each="b : ${biler}">
        <td> <span th:text="${b.name}">Name</span> </td>
        <td> <span th:text="${b.userId}">id</span> </td>
        <td> <span th:text="${b.vognNummer}">id</span> </td>
        <td> <span th:text="${b.registeringsNummer}">id</span> </td>
    </tr>
</table>
</div>

<div class="flex">
<div class="container">
    <form id="contact" action="" method="post">
        <h3>Bilens specifikationer</h3>
        <h4>Indtast venligst bilens specifikation</h4>
        <fieldset>
            <label for="udstyr">Vælg udstyr:</label>
            <select name="udstyrsnivauID" id="udstyr">
                <option value="minimal udstyr">minimal udstyr</option>
                <option value="fuld udstyr">fuld udstyr</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="farve">Vælg farve:</label>
            <select name="FarveID" id="farve">
                <option value="blå">blå</option>
                <option value="sort">sort</option>
                <option value="hvid">hvid</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="startDato">Vælg start udlejningsdato</label>
            <input name="udlejningsStartDato" id="startDato" type="date" tabindex="3" required>
        </fieldset>
        <fieldset>
            <label for="slutDato">Vælg slut udlejningsdato</label>
            <input name="udeljningsSlutDato" id="slutDato" type="date" tabindex="3" required>
        </fieldset>
    </form>
</div>
<div class="container">
    <form id="contact" action="" method="post">
        <h3>Kunde informationer</h3>
        <h4>Indtast venligst kundens information</h4>
        <fieldset>
            <input name="fornavn" placeholder="Fornavn" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input name="efternavn" placeholder="Efternavn" type="text" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input name="email" placeholder="E-mail" type="text" tabindex="3" required></input>
        </fieldset>
        <fieldset>
            <input name="tlf" placeholder="tlf nummer" type="text" tabindex="4" required></input>
        </fieldset>
        <fieldset>
            <input name="CPR" placeholder="cpr nummer" type="text" tabindex="5" required></input>
        </fieldset>
        <fieldset>
            <div class="flex">
                <button class="inline" name="submit" type="submit" id="send-kundeinfo" data-submit="...Sending">Søg</button>
            </div>
        </fieldset>
    </form>
</div>
    </div>
</body>
</html>