<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking succes!</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
    <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>
    <link rel="stylesheet" th:href="@{/css/rapport.css}" href="../../../static/css/rapport.css"/>

</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>
<div th:id="book">
    <div th:id="page">
        <div th:id="subpage">Kvittering for bekræftelse vogn Nummer: <span th:text="${bil.vognNummer}"></span>
           <div>
            <div th:id="vertical">
                <table>
                    <caption>Bilens informationer</caption>
                    <tr th:each="b : ${bil}">
                        <th>Vogn nummer</th>
                        <td th:text="${b.vognNummer}">data</td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Stel Nummer</th>
                        <td th:text="${b.stelNummer}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Mærke</th>
                        <td th:text="${b.maerke}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Model</th>
                        <td th:text="${b.model}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Bil type</th>
                        <td th:text="${b.energiType}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Gear type</th>
                        <td th:text="${b.gearboks}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Bilens udstyr</th>
                        <td th:text="${b.udstyr}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Status</th>
                        <td th:text="${b.status}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Farve</th>
                        <td th:text="${b.farve}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Stål pris</th>
                        <td th:text="${b.staalPris}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Registerings afgift</th>
                        <td th:text="${b.registreringsAfgift}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>C02 Udledning</th>
                        <td th:text="${b.CO2Udledning}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Produktions år</th>
                        <td th:text="${b.produktionsaar}"></td>
                    </tr>
                    <tr th:each="b : ${bil}">
                        <th>Antal km. kørt</th>
                        <td th:text="${b.distance}"></td>
                    </tr>
                </table>
                <table>
                    <caption>Booking informationer</caption>
                    <tr>
                        <th>Bruger ID</th>
                        <td th:text="${bruger}"></td>
                    </tr>
                    <tr>
                        <th>Udlejnings start dato</th>
                        <td th:text="${udlejningsStartDato}"></td>
                    </tr>
                    <tr>
                        <th>Udlejnings slut dato</th>
                        <td th:text="${udeljningsSlutDato}"></td>
                    </tr>
                    <tr>
                        <th>Udleveringssted</th>
                        <td th:text="${udleveringsSted}"></td>
                    </tr>
                </table>
            </div>
           </div>
        </div>
    </div>
</div>
</body>
</html>