<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Booking oplysninger</title>
  <link rel="stylesheet" th:href="@{/css/formDesign.css}" href="../../../static/css/formDesign.css"/>
  <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../../static/css/myStyles.css"/>
  <link rel="stylesheet" th:href="@{/css/tableStyle.css}" href="../../../static/css/tableStyle.css"/>
  <link rel="stylesheet" th:href="@{/css/navigationsbar.css}" href="../../../static/css/navigationsbar.css"/>
  <link rel="stylesheet" th:href="@{/css/nyNaviBar.css}" href="../../../static/css/nyNaviBar.css"/>
  <link rel="stylesheet" th:href="@{/css/beaverPosition.css}" href="../../../static/css/beaverPosition.css"/>


  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="html/fragments/aFragment:: navigation"> </div>

<div th:id="beaverUdstyrValg" th:style="'background-image:url(' + @{/images/beaver.png}">

<div th:class="bilInfo">
  <div class="table-title">
    <h3>Bilens informationer</h3>
  </div>
  <table class="center">
    <tr>
      <th>Bil Mærke</th>
      <th>Model</th>
      <th>Vognnummer</th>
      <th>Registreringsnummer</th>
    </tr>
    <tr th:each="b : ${bil}">
      <td> <span th:text="${b.maerke}">Bil Mærke</span> </td>
      <td> <span th:text="${b.model}">Model</span> </td>
      <td> <span th:text="${b.vognNummer}">Vognnummer</span> </td>
      <td> <span th:text="${b.stelNummer}">Registreringsnummer</span> </td>
    </tr>
  </table>

  <div class="bilBookingFormFlex">
    <form action="/nyBooking" method="post">
      <div class="container bilBookingFormFlex">
        <div id="bilSpecifikation">
          <h3>Bilens specifikationer</h3>
          <h4>Indtast venligst bilens specifikation</h4>
          <fieldset>
            <label for="startDato">Vælg start udlejningsdato</label>
            <input name="udlejningsStartDato" id="startDato" type="date" tabindex="3" required>
          </fieldset>
          <fieldset>
            <label for="slutDato">Vælg slut udlejningsdato</label>
            <input name="udeljningsSlutDato" id="slutDato" type="date" tabindex="3" required>
          </fieldset>
          <fieldset>
            <label for="abonnementsType">Vælg abonnements type</label>
            <select name="abonnementsType" id="abonnementsType">
              <option value="0">Vælg abonnements type.</option>
              <option th:each="a : ${abonnementsTyper}" th:value="${a.id}" th:text="${a.type}"></option>
            </select>
          </fieldset>
          <fieldset>
            <label for="udleveringsSted">Vælg udleveringssted</label>
            <select name="udleveringsSted" id="udleveringsSted">
              <option value="0">Vælg udleveringssted.</option>
              <option th:each="u : ${udleveringssteder}" th:value="${u.id}" th:text="${u.sted}"></option>
            </select>
          </fieldset>
          <fieldset>
            <div class="bilBookingFormFlex">
              <button class="inline" name="submit" type="submit" id="send-kundeinfo" data-submit="...Sending">Book</button>
            </div>
          </fieldset>
        </div>
        </div>
    </form>
  </div>
  </div>
  </div>

</body>
</html>